body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  width: 50%;
}

.navBar ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navBar li{
  float: left;

  display: inline;
}

.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navBar li a:hover {
    background-color: #111;
}
